* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
div,
span,
ul {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.images {
  background: #eeeeee;
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 198px 60px;
}

.img {
  width: 300px;
  border-radius: 8px;
  height: 300px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.popup {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
  background: #0000003a;
}

.popup-img {
  width: 600px;
  border-radius: 8px;
  height: 600px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px 8px;
  color: white;
  background: red;
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.activate {
  top: 0;
  left: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
